body{
   background-color: #333; 
   color: white;
}

a:any-link{
   color: white;
   font-size: large;
}

ul {
   align-items: center;
   font-size: x-large;
}

table{
   border-spacing: 5px;
   border: 1px solid lightgrey;
   margin-left: auto;
   margin-right: auto;
}

td{
   padding: 15px;
   text-align: left;
 }

 th{
   padding: 15px;
   text-align: left;
   font-size: 20px;
 }

 ul{
    list-style-type: none;
    padding-top: 10px;
    line-height: 200%;
 }

 h1, h2, h3, h4 {
    text-align: center;
 }

 .title {
    font-size: 100%;
 }

 p {
    text-align: center;
 }

 #contactform{
    text-align: center;
 }

 .container {
    width:60%;
    overflow: auto;
    margin: 100px auto;
 }

 .box img{
    width: 100px;
    height: 100px;
    padding: 10px;
 }

 .col{
    float: left;
    /* object-position: 20px 10%; */
 }
 .full-image img{
    padding: 10px;
    float: right;
    /* object-position: 20px 10%; */
    animation: ani .5s linear 1;
 }

 @keyframes ani {
    0%{opacity: .1;}
    100%{opacity: 1}
 }

 .spot {
    align-items: left;
 }

 .video {
   align-items: right;
 }

 .navbar li {
    margin: 0;
    padding: 0;
    display: inline;
 }

 .navbar ul {
   background-color: red;
   overflow: hidden;
   list-style-type: none;
    margin: 0;
    padding: 0;
 }

 .navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
 }

 .navbar li a:hover {
    background-color: blue;
 }